/********************************************************
* Add Subject
********************************************************/

.box_a {
  border: 2px solid #666;
  border-bottom: 1px solid #666;
  width:150px;
}
a.box_a_item {
  border-bottom: 1px solid #666;
  text-align:center;
  text-decoration:none;
  display:block;
}
a.box_a_item:hover {
  background-color:#ddd;
}

#sub_column_1 {
float:left;
width:29%;
}
#sub_column_2 {
float:left;
width:68%;
padding:30px 0 0 0;
}
#sub_column_3 {
float:left;
padding:30px 0 0 0;
}



#table_box {
  border: 2px solid #666;
  width: 100%;
  height:578px;
  margin:10px 0 20px 0;
}
#table_column_1, #tc_1_title {
float:left;
width:5%;
height:100%;
border-right: 1px solid #666;
}
#table_column_2, #tc_2_title {
float:left;
width:30%;
height:100%;
border-right: 1px solid #666;
}
#table_column_3, #tc_3_title {
float:left;
width:30%;
height:100%;
border-right: 1px solid #666;
}
#table_column_4, #tc_4_title {
float:left;
width:28%;
height:100%;
border-right: 1px solid #666;
}
#table_column_5 {
float:left;
width:6%;
height:100%;
}

#table_column_2 input, #table_column_3 input {
  width:94%;
}
#table_column_4 input {
  width:92.5%;
}

.cell_text {
 margin:0;
 /*padding:5px 0 6px 0;*/
 text-align:center; 
 font-size:15px;
 height:30px;
 line-height:30px;
}
/*body:first-of-type .cell_text {
 height:18px;
}*/

.cell_input {
 margin:0;
 border: none;
 padding:5px 5px 0px 5px;
 line-height:25px;
 height:25px;
}
.cell_input:hover {
 background-color:#ddd;
}
.cell_bg_a {
 background-color:transparent;
}
.cell_bg_b {
 background-color:#d2e3ff;
}
.cell_bg_c {
 background-color:#c6ffd7;
}

/********************************************************
* Add Study
********************************************************/
.cro_register_content {
  height:680px;
}
.cro_register_content #sub_column_1 {
float:left;
width:26%;
}
.cro_register_content #sub_column_2 {
float:left;
width:52%;
padding:25px 0 0 0;
}

#register_study_form div.form_row {
  clear: both;
  padding-top: 5px;
  }

#register_study_form span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

#register_study_form span.input {
  float: right;
  width: 290px;
  text-align: left;
  } 
#register_study_form {
  width:420px;
}
#register_study_form .formi {
  float:right;
}
#register_study_form .forml {
  float:right;
  margin:0 20px 0 0;
}
#register_study_form .date {
  width:50px;
  margin:0 20px 20px 0;
}

#callContainer_a {
  margin:0 10px 0 0;
}

/********************************************************
* Active Studies
********************************************************/

.cro_active_content #table_box {
  width: 300px;
  height:578px;
  margin:10px 0 20px 0;
}
.cro_active_content #table_column_1 {
width:100%;
height:100%;
border:none;
}

#view_study_form {
  width:420px;
}
#view_study_form div.form_row {
  clear: both;
  padding-top: 5px;
  }

#view_study_form span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

#view_study_form span.input {
  float: right;
  width: 290px;
  text-align: left;
  } 
#view_study_form .date {
  width:50px;
  margin:0 20px 20px 0;
}

/********************************************************
* Database Action
********************************************************/

.study_action_content #sub_column_1 {
 width:26%;
}
.study_action_content #sub_column_2 {
 width:35%;
}
.study_action_content #sub_column_3 {
 width:35%;
 padding-left:10px;
}

#volunteer_table {
  width: 253px;
  margin:10px 0 20px 0;
}

#volunteer_table .table_head {
  width: 100%;
  border: 2px solid #fff;
}
#volunteer_table .title_1, #volunteer_table #column_1 {
  width:30px;
  float:left;
  border-right: 1px solid #fff;
}
#volunteer_table .title_2, #volunteer_table #column_2{
  width:150px;
  float:left;
  border-right: 2px solid #fff;
}
#volunteer_table .title_3, #volunteer_table #column_3 {
  width:70px;
  float:left;
}

#volunteer_table .table_body{
  width: 100%;
  border: 2px solid #666;
}
#volunteer_table #column_1 {
height:100%;
border-right: 1px solid #666;
}
#volunteer_table #column_2 {
height:100%;
border-right: 2px solid #444;
}
#volunteer_table #column_3 {
height:100%;
}



#review_adds_table {
  width: 253px;
  /*height:578px;*/
  margin:10px 0 20px 0;
}

#review_adds_table .table_head {
  width: 100%;
  border: 2px solid #fff;
}
#review_adds_table .title_1, #review_adds_table #column_1 {
  width:30px;
  float:left;
  border-right: 1px solid #fff;
}
#review_adds_table .title_2, #review_adds_table #column_2{
  width:150px;
  float:left;
  border-right: 2px solid #fff;
}
#review_adds_table .title_3, #review_adds_table #column_3 {
  width:70px;
  float:left;
}

#review_adds_table .table_body{
  width: 100%;
  border: 2px solid #666;
}
#review_adds_table #column_1 {
height:100%;
border-right: 1px solid #666;
}
#review_adds_table #column_2 {
height:100%;
border-right: 2px solid #444;
}
#review_adds_table #column_3 {
height:100%;
}

/********************************************************
* Screen Subjects
********************************************************/

#screen_table {
  width: 410px;
  margin:10px 0 20px 0;
}

#screen_table .table_head {
  width: 100%;
  border: 2px solid #fff;
}
#screen_table .title_1, #screen_table #column_1 {
  width:30px;
  float:left;
  border-right: 1px solid #fff;
}
#screen_table .title_2, #screen_table #column_2{
  width:150px;
  float:left;
  border-right: 2px solid #fff;
}
#screen_table .title_3, #screen_table #column_3 {
  width:70px;
  float:left;
}
#screen_table .title_4, #screen_table #column_4 {
  width:140px;
  float:left;
}

#screen_table .table_body{
  width: 100%;
  border: 2px solid #666;
}
#screen_table #column_1 {
height:100%;
border-right: 1px solid #666;
}
#screen_table #column_2 {
height:100%;
border-right: 1px solid #666;
}
#screen_table #column_3 {
height:100%;
border-right: 2px solid #333;
}
#screen_table #column_4 {
height:100%;
}