/********************************************************
* Home Tab
********************************************************/

#login_panel {
  float:right;
  padding:3px 3px 3px 3px;
  border: 1px solid #d6d1a7;
}
#login_panel_content {
  padding:10px 10px 10px 10px;
  background-color:#d6d1a7;
}
#login_panel label {
  width: 90px;
  padding:3px 0 0 0;
  margin:0 5px 0 0;
  text-align:right;
}