/********************************************************
* Home Tab
********************************************************/

#column_1 {
	width:100%;
	position:relative;
	margin:0 0 290px 0;
    	}
#footer {
  text-align:center;
  color:#000;
  clear:both;
}
#subtitle {
  margin:180px 0 80px 0;
  color:#fff;
}
#login_panel {
  float:left;
  padding:3px 3px 3px 3px;
  border: 0px solid #d6d1a7;
  margin:0 0 0 0;
}
#login_panel label {
  width: 90px;
  padding:3px 0 0 0;
  margin:0 5px 0 0;
  text-align:right;
}
label {
 color:#fff;
}
